
body{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* HEADER */

.header{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items:center;
    background-color: #1f2937;
    padding: 8px;
}

#hero-secondary{
    font-size: 18px;
    padding: 8px 0px;
    color: #e5e7eb;
}

.navbar{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 8px 0px;
}

.navbar h3{
    color: #e5e7eb;
    margin: 0;
}

.nav-links{
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.header-container {
    width: 1000px;
}

.header-content{
    display: flex;
    gap: 35px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.header-content div{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    height: 250px;
}

.sign-up-button {
    border: none;
    border-radius: 5px;
    background-color:#3882F6 ;
    width: fit-content;
    padding: 7px 30px;
    margin-top: 10px;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 700;
}


.header-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
}

.header-content h2{
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    color: #f9faf8;
}
.header-content p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    color: #e5e7eb;
    
}

/* INFO SECTION */

.info{
    background-color: #f9faf8;
}

.info h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 50px;
    margin-bottom: 50px;
}

.info-pictures-row{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 70px;
    margin-bottom: 100px;
}

.info-picture-item {
    flex: 0;
    width: 150px;
    font-size: 14px;
    font-weight: 400;
    color: #1f2937;
}
.info-picture-item img{
    flex: auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

/* QOUTE SECTION */

.quote-section {
    background-color: #e5e7eb;
}

.quote-section-container{
    margin-right: auto;
    margin-left:  auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;   
}

blockquote{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-section p {
    margin-right: 35px;
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;

}

/* SIGNUP SECTION */

.call-to-action{
    display: flex;
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;
}

.call-to-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    gap: 100px;
    color: #f9faf8;
    width: 900px;
    height: 100px;
    border-radius: 5px;
    padding: 35px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.sign-up-button.inverted{
    flex-shrink: 0;
    background-color: transparent;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    
}

.footer{
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: center;
    padding: 25px
}


